<tr>
    <th scope="row">{{id}}</th>
    <td>{{first_name}}</td>
    <td>{{last_name}}</td>
    <td>{{email}}</td>
    <td class="text-right">
        <a class="see-details" href="{{id}}"><i class="fas fa-info-circle"></i></a>
    </td>
</tr>