<div>
    <button type="button" class="btn btn-light go-back"> <i class="fas fa-long-arrow-alt-left"></i> Go back</button>
</div>
<div id="user" class="row justify-content-md-center">
    <div class="card mb-6" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-5">
        <img src="{{user.avatar}}" class="card-img" alt="{{user.first_name}}">
        </div>
        <div class="col-md-7">
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-text"><small class="text-muted">{{user.email}}</small></p>
        </div>
        </div>
    </div>
    </div>
</div>